# ================= Storage =================
STORAGE_TYPE=local_mount
NAS_MOUNT_PATH=/app/storage
NAS_FILE_URL_PREFIX=http://192.168.1.100:8080/videos

# ================= NAS SMB Mount (Docker volume) =================
NAS_HOST=192.168.1.100
NAS_USER=your_username
NAS_PASSWORD=your_password
NAS_PORT=445
NAS_SHARE_PATH=shared/videos
